*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store

# Latex Docs
*.toc
*.aux
*.lof
*.log
*.out
*.pdf
*.synctex.gz
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fdb_latexmk
*.fls
